.metrics-section {
    padding: 1.5rem 2rem 0;
    height:225px;

    .metrics-heading {
    font-size: 18px;
    font-weight: 700;
    color: var(--black-text);
    margin-bottom: 0.5rem;
  }
}


.metrics {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  gap: 1rem;


  .metric-card {
  flex: 1;
  padding: 1rem 1.25rem;
  background: radial-gradient(
  circle at center,
  rgba(255, 205, 41, 0.3) 9%,
  rgba(254, 224, 0, 0.2) 35%
  );

  border: 1px solid #fef3c7;
  border-radius: 12px;
  position: relative;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }


    h3 {
      font-size: 15px;
      font-weight: 600;
      color: #0f172a;
      margin: 0;
    }

    h1 {
      font-size: 24px;
      margin: 0.4rem 0 0.2rem;
      font-weight: 700;
    }

    p {
    font-size: 14px;
    color: var(--gray-text);
    }

    .positive {
    color: #22c55e; // green
    }

    .negative {
    color: #ef4444; // red
    }

    .menu-icon {
      position: absolute;
      top: 0.8rem;
      right: 1rem;
      font-size: 20px;
      color: #94a3b8;
      cursor: pointer;
    }
  }
}





.goals-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1.5rem 0.5rem;
  position: relative;

  .sort-by {
    font-size: 1rem;
    color: #475569;

    .region-sort {
      color: #5c85eb;
      font-weight: 600;
    }
  }

  .view-tabs {
  display: flex;
  position:absolute;
  left: 50%;
  transform: translateX(-50%);
  gap: 12px;

  span {
    padding: 6px 12px;
    cursor: pointer;
    color: #475569;
    border-radius: 9999px;
    transition: background 0.2s;

    &.active {
      background: #5c85eb;
      color: white;
      font-weight: 600;
    }

    &:hover {
      background: #e2e8f0;
    }
  }
}


  .view-tabs span {
    margin-right: 1.5rem;
    cursor: pointer;
    font-weight: 500;
    color: var(--gray-text);
  }
}

//   .view-tabs .active {
//     color: var(--blue);
//     border-bottom: 2px solid var(--blue);
//     padding-bottom: 0.2rem;
//   }

//   .sort {
//     font-size: 14px;
//     background: lightgrey;
//     color: var(--gray-text);
//     border-radius: 25%;
//     display: flex;
//     align-items: center;
//   }
// }

// 
